/bashrc.sh~
/ratpoisonrc~
/.xmodmap~
/dotemacs/main.el~
/dotemacs/#main.el#
/crontab~
/dotemacs/#emacs_laptop.el#
/dotemacs/.#emacs_laptop.el
/shell_functions.sh~
/Rprofile.R~
/lap_bash.sh~
/#Rprofile.R#
/.#Rprofile.R
/.Rhistory
/scripts/battery-monitor.pl~
/#bashrc.sh#
/scripts/harriet-ssh.sh~
/scripts/knitr.sh~
/dotemacs/blast_plus.el~
/dotemacs/own_modes/blast_plus.el~
